= render 'content-left'

.content-right
  .group
    %p.group__name
      = @group.name
    %p.group__member
      Members:
      = @users.pluck :name
  = link_to edit_group_path(@group) do
    %p.group__btn
      Edit

  .chat
    %p.chat__user
      板橋洋輔
    %p.chat__date
      2016/10/02 06:27:07
    %p.chat__content
      なるほど

  .bottom-content
    .submit
    = form_for [@group, @message] do |f|
      %p
        = f.text_field :body, class: "submit__content", placeholder: 'メッセージを入力してください'
        %i.fa.fa-file-image-o
      %p
        = f.submit "Send", class: "submit__btn", name: "Commit"
